@inherits LayoutComponentBase

<div class="page">
    <main>
        <button class="btn-primary" onclick="showLoginPage()">Login</button>
        <button class="btn-primary" onclick="showRegisterPage()">Register</button>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<script>
    function showLoginPage() {
        alert('LoginPage');
    }
    function showRegisterPage() {
        alert('RegistrationPage');
    }


</script>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
