@page "/"

<PageTitle>HomePage</PageTitle>

<h1>About us</h1>

Feedoora is a growing food delivery company focused on addressing<br />
common issues like delays, high fees, and poor customer support.<br />
We aim to provide fast, efficient deliveries while ensuring a<br />
great experience for both customers and staff.

